{% extends "Calendar/base.html" %} <!--Extending the parent template-->
{% load static %}
{% block content %}
    <div class="container mt-1">
        <div class="text-center">
            <h1>Welcome to CalendarCalc!</h1>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="content-section intro">
                    <h5>What does CalendarCalc do?</h5>
                    <span>
                        <i class="fas fa-question-circle homeIcons"></i>
                    </span>
                    <p class="text-justify mt-4">
                        CalendarCalc creates a summary of how much time a user has spent or will spend per activity on
                        his/her current week. After the summary is created, it can be saved and accessed
                        at any time for future reference!
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-section intro">
                    <h5>How CalendarCalc does it?</h5>
                    <span class="icons">
                        <i class="fab fa-google homeIcons"></i>
                    </span>
                    <p class="text-justify mt-4">
                        CalendarCalc gets the week schedules of our users through Google Calendar. At the moment of creating a new summary,
                        just let us know from which Google account we will be getting your schedule! <b>To create a new summary click on the New button</b>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-section intro">
                    <h5>Why CalendarCalc does it?</h5>
                    <span class="icons">
                        <i class="fas fa-calendar-check homeIcons"></i>
                    </span>
                    <p class="text-justify mt-4">
                        CalendarCalc aims to be an useful tool for Google Calendar users, helping them improve their time-management habits if needed or inform them that they are doing a great work managing their
                        weekly schedules!
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}