{% extends "Calendar/base.html" %} <!--Extending the parent template-->
{% load static %}
{% block content %}
    <div class="container mt-1">
        <div class="text-center">
            <h1>Welcome, My name is TIMI!</h1>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <div class="content-section intro">
                    <h5>What does TIMI do?</h5>
                    <span>
                        <i class="fas fa-question-circle homeIcons"></i>
                    </span>
                    <p class="text-justify mt-4">
                        TIMI creates a summary of how much time a user has spent or will spend per event on
                        his/her current week. After the summary is created, it can be saved and accessed
                        at any time for future reference!
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-section intro">
                    <h5>How does TIMI do it?</h5>
                    <span class="icons">
                        <i class="fab fa-google homeIcons"></i>
                    </span>
                    <p class="text-justify mt-4">
                        TIMI collects data of users' week schedules through Google Calendar. At the moment of creating a new summary,
                        just let TIM know from which Google account he will be getting your schedule! <b>To create a new summary click on the New button</b>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="content-section intro">
                    <h5>Why does TIMI do it?</h5>
                    <span class="icons">
                        <i class="fas fa-calendar-check homeIcons"></i>
                    </span>
                    <p class="text-justify mt-4">
                        TIMI aims to be a useful tool for Google Calendar users, informing them about their time-management habits and provide them a nice data 
                        visualization doughnut chart of the data gathered
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}