{% extends "Calendar/base.html" %}
{% load app_filters %}
{% block content %}
<div class="media content-section">
    <div class="container">
        <div class="row mt-3">
            <div class="col-10">
                <h2>{{ object.startDate|date:"F d, Y" }} - {{ object.endDate|date:"F d, Y" }}</h2>
            </div>
            <div class="col-2">
                <a class="btn btn-danger rounded-pill" href="{% url 'Calendar-Summary-Delete' object.id %}">Delete</a>
                <a class="btn btn-primary rounded-pill" href="{% url 'Calendar-User-Summaries' %}">Back</a>  
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <h5 class="text-muted">Summary created at: {{ object.creationDate|date:"F d, Y" }}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5 class="text-muted">Number of events: {{ object.events.all.count }}</h5>
            </div>
        </div>
        <div class="row mt-3">
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Event</th>
                    <th scope="col">Time Spent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <th scope="row"></th>
                            <td> <i class="fas fa-circle" style= "color: {{event.durationTime|get_color}};"></i> {{ event.eventTitle }}</td>
                            <td>{{ event.durationTime|get_total_time_string }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            <canvas id="eventsChart" class="mt-5"></canvas>
        </div>
        <script>
            var fev = [];
            var fevt = [];
            var colors = [];
            {% for event in events %}
                fev.push("{{event.eventTitle}}");   
                fevt.push({{event.durationTime|get_total_time_chart_value}});
                colors.push("{{event.durationTime|get_color}}")
            {% endfor %} 
            var eventsChart = document.getElementById('eventsChart').getContext('2d');
            var frequentEventsChart = new Chart(eventsChart, {
                type: 'doughnut',
                data:{
                    datasets:[{
                        label: 'Summary',
                        data: fevt,
                        backgroundColor: colors,  
                    }],
                    labels: fev,
                },    
                options: {
                    events: [
                        'mousemove'
                    ],
                    legend: false,
                    showTooltips: false
                }
            });
        </script>
    </div>
</div>
{% endblock content %}
