{% extends "Calendar/base.html" %} <!--Extending the parent template-->
{% block content %}
    <!--This html code will handle the display of the form created-->
   <div class="content-section">
        <form method="POST">
            {% csrf_token %} <!--Token for security required by django-->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete Summary</legend> 
                <h2>Are you sure you wanto to delete the Summary of week: {{ object.startDate|date:"F d, Y" }} -- {{ object.endDate|date:"F d, Y" }}</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button> <!--the type "submit" allows the form to be submitted when the button is pressed-->
                <a class="btn btn-outline-secondary" href="{% url 'Calendar-Summary-Detail' object.id %}">Cancel</a>
            </div>                                                                   
        </form>
   </div>
{% endblock content %}