{% extends "Calendar/base.html" %}
{% load app_filters %}
{% block content %}
<article class="media content-section">
        <!--<img class="rounder-circle article-img" src="{{ object.author.profile.image.url}}"> --> <!--Get the image of the posts' author-->
        <div class="media-body">
            <div class="article-metadata">
               <h4 class="text-muted">{{ object.startDate|date:"F d, Y" }} - {{ object.endDate|date:"F d, Y" }}</h1> -
                <div class="container">
                    <div class="row mt-5">
                            <div class="col-6 col-sm-5">
                                {% for event in object.events.all %}
                                    <p>{{ event.eventTitle }}</p>
                                {% endfor %}
                            </div>
                            <div class="col-6 col-sm-5">
                                {% for event in object.events.all %}
                                    <p>
                                    {% if event.durationTime|get_total_hours %}
                                            {% if event.durationTime|get_total_hours == 1%}
                                                {{ event.durationTime|get_total_hours }} hour 
                                            {% elif event.durationTime|get_total_hours > 1 %}
                                                {{ event.durationTime|get_total_hours }} hours
                                            {% endif %}
                                        {% endif %}
                                        {% if event.durationTime|get_total_minutes %}
                                            {% if event.durationTime|get_total_minutes == 1%}
                                                {{ event.durationTime|get_total_minutes }} minute
                                            {% elif event.durationTime|get_total_minutes > 1 %}
                                                {{ event.durationTime|get_total_minutes }} minutes
                                            {% endif %}
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
</article>
<div>           
    <a class="btn btn-outline-danger mt-1 mb-1" href="{% url 'Calendar-Summary-Delete' object.id %}">Delete</a>
    <a class="btn btn-outline-secondary mt-1 mb-1" href="{% url 'Calendar-User-Summaries' %}">Back to Summaries</a>           
</div> 
{% endblock content %}
