{% extends "Calendar/base.html" %} <!--Extending the parent template-->
{% load app_filters %}
{% block content %}
    <h1 class="display-4"> Summaries by {{ user.username }} </h1>
    <div class="container mt-5">
    {% for summary in summaries %}
        <div class="media summary-section mb-4">
            <a class="summary-title mr-2" href="{% url 'Calendar-Summary-Detail' summary.id %}">{{ summary.startDate|date:"F d, Y" }} - {{ summary.endDate|date:"F d, Y" }}</a>
        </div>
    {% endfor %}
    </div>
{% endblock content%}