{% extends "Calendar/base.html" %} 
{% load crispy_forms_tags %}
{% load app_filters %}
        
{% block content %}
<div class="content-section container">
    <div class=row>
        <div class="col-md-5">
            <div>
                <h2 class="account-heading">{{user.username}}</h2>
                <p class="text-secondary border-top pt-2">{{user.email}}</p>
            </div>
            <form method="POST">
                {% csrf_token %} <!--Token for security required by django-->
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Profile Info</legend>           
                    {{ u_form|crispy }}  <!--u_form and p_form were passed in as contexts from the profile fuction of users' views-->
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-secondary" type="submit">Update</button> <!--the type "submit" allows the form t be submitted when the button is pressed-->
                    <a class="btn btn-outline-secondary" href="{% url 'Calendar-User-Summaries' %}">Summaries</a>
                </div>    
            </form>
        </div>
        <div class="col-md-7">
            <h3>Most frequent events from past 3 weeks</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Event</th>
                    <th scope="col">Time Spent</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in frequentEvents %}
                    <tr>
                        <th scope="row"></th>
                            <td><i class="fas fa-circle" style= "color: {{event.1|get_color}};"> </i> {{event.0 }}</td>
                            <td>{{ event.1|get_total_time_string }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="container">
                <canvas id="eventsChart" class="mt-5"></canvas>
            </div>
            <script>
                var fev = [];
                var fevt = [];
                var colors = [];
                {% for event in frequentEvents%}
                    fev.push("{{event.0}}");
                    fevt.push({{event.1|get_total_time_chart_value}});
                    colors.push("{{event.1|get_color}}");
                {% endfor %}

                var eventsChart = document.getElementById('eventsChart').getContext('2d');
                var frequentEventsChart = new Chart(eventsChart, {
                type: 'doughnut',
                data:{
                    datasets:[{
                        label: 'Most frequent events',
                        data: fevt,
                        backgroundColor: colors,
                        borderWidth: 1
                    }],
                    labels: fev
                },
                options: {
                    legend: false,
                    events: []
                }
                });
            </script>
        </div>
    </div>
</div>
{% endblock content %}